script id="template-upload" type="text/x-tmpl"
  | <div id="file-{%=o.unique_id%}" class="upload">
  |   {%=o.name%}
  |   <div class="progress"><div class="bar" style="width: 0%"></div></div>
  | </div>
