/<!-- Código do Google para tag de remarketing -->
/<!--------------------------------------------------
/As tags de remarketing não podem ser associadas a informações pessoais de identificação nem inseridas em páginas relacionadas a categorias de confidencialidade. Veja mais informações e instruções sobre como configurar a tag em: http://google.com/ads/remarketingsetup
/--------------------------------------------------->
javascript:
  /* <![CDATA[ */
  var google_conversion_id = 988885353;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"
noscript
  div style="display:inline;"
    img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/988885353/?value=0&amp;guid=ON&amp;script=0"

