= link_to t('.links.who_we_are'), "#", target: '_blank', class: 'link-footer'
= link_to t('.links.transparency'), "#", target: '_blank', class: 'link-footer'
= link_to t('.links.press'), "#", target: '_blank', class: 'link-footer'
