= link_to t('.links.partners'), "#", target: '_blank', class: 'link-footer'
= link_to t('.links.ongs'), "#", target: '_blank', class: 'link-footer'
= link_to t('.links.channels'), "#", target: '_blank', class: 'link-footer'
