= link_to t('.links.how_it_works'), start_path, target: '_blank', class: 'link-footer'
= link_to t('.links.send_project'), start_path, target: '_blank', class: 'link-footer'
= link_to t('.links.explore_projects'), explore_path, target: '_blank', class: 'link-footer'
