= link_to t('.links.who_we_are'), who_we_are_path, target: '_blank', class: 'link-footer'
= link_to t('.links.transparency'), "#", target: '_blank', class: 'link-footer'
= link_to t('.links.press'), presses_path, target: '_blank', class: 'link-footer'
