= link_to t('.links.blog'), "#{CatarseSettings['blog_url']}", target: '_blank', class: 'link-footer'
= link_to t('.links.facebook'), "#{CatarseSettings['facebook_url']}", target: '_blank', class: 'link-footer'
= link_to t('.links.contact'), "http://juntoscomvc.uservoice.com", target: '_blank', class: 'link-footer'
