= link_to t('.links.how_it_works'), "#", target: '_blank', class: 'link-footer'
= link_to t('.links.send_project'), "#", target: '_blank', class: 'link-footer'
= link_to t('.links.explore_projects'), "#", target: '_blank', class: 'link-footer'
