= link_to t('.links.blog'), "#", target: '_blank', class: 'link-footer'
= link_to t('.links.facebook'), "#", target: '_blank', class: 'link-footer'
= link_to t('.links.contact'), "#", target: '_blank', class: 'link-footer'
