= link_to t('.links.partners'), site_partners_path, class: 'link-footer'
= link_to t('.links.ongs'), ongs_path, target: '_blank', class: 'link-footer'
= link_to t('.links.channels'), "#", target: '_blank', class: 'link-footer'
