- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

| Uhuu, #{project.user.name},
br
br
| Parabéns pela campanha!
br
br
| O projeto #{link_to project.name, project_link} foi financiado!
br
br
| Depois que você comemorar com vontade o término bem sucedido da sua campanha de arrecadação, é hora de voltar ao trabalho! Reunimos aqui algumas informações importantíssimas para quem teve seu projeto financiado com sucesso aqui na Juntos.com.vc
br
br
| <strong>1</strong> - Na aba Relatórios (que fica na página do seu projeto) você consegue baixar planilhas com as <strong>informações sobre os apoiadores do seu projeto</strong> (Recompensa escolhida | Valor do apoio | Data de confirmação do apoio | Nome | E-mail | Endereço)
br
br
| <strong>2</strong> - Vamos transferir o valor captado, já com as taxas das instituições financeiras descontadas, para suas contas Moip e Paypal em 30 dias, basta responder este e-mail com os 3 passos abaixo concluídos:
br
| <strong>a)</strong> - Enviar o login da conta Moip e/ou Paypal (e-mail utilizado na criação). Confira: Como receberei meu dinheiro? Se tiverem dúvidas na criação nos avise.
br
| <strong>b)</strong> - Fazer pelo menos uma notificação de novidades do projeto para os apoiadores (#{link_to 'veja como fazer isso aqui', 'https://juntoscomvc.uservoice.com/knowledgebase/articles/842457-como-enviar-novidades-do-meu-projeto-para-os-apoia'}).
br
| <strong>c)</strong> - Responder este questionário/feedback de como foi realizar a campanha no Juntos.com.vc, é muito importante pra gente aprender com cada campanha para apoiar as próximas da melhor forma. Para isso, #{link_to 'clique aqui', 'https://docs.google.com/forms/d/e/1FAIpQLSf8tjXe9CnroZZz5WhuAdEfBQnEpB7_GT_t5-HBGTxJutQV1Q/viewform'}.
br
br
| Se ficou com alguma dúvida, responda a esta mensagem diretamente ou fale conosco através do e-mail #{mail_to CatarseSettings[:email_projects]}
br
br
| Um abraço apertado de parabéns!
br
| Juntos com Você
