- subscription = @notification.subscription
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

|Olá, <strong>#{subscription.user.decorate.display_name}</strong>!
br
br
| Seu apoio para o projeto #{link_to subscription.project.name, project_by_slug_url(permalink: subscription.project.permalink, ref: 'notificacao_criado')} foi confirmado com sucesso.
br
br
| Esse e-mail serve como um recibo <strong>provisório da sua contribuição</strong>.
br
br
| Nome do apoiador: <strong>#{subscription.user.decorate.display_name}</strong>
| CPF/CNPJ do apoiador: <strong>#{subscription.user.decorate.cpf}</strong>
| Data da confirmação do apoio: <strong>#{subscription.user.decorate.cpf}</strong>
| Se ficou com alguma dúvida, entre em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to contact_email}
/br
/br
/|Um abraço,
/br
/| #{company_name}
|Email foi enviado... Agora precisamos dos dados
