/- subscription = @notification.subscription
/- company_name = CatarseSettings[:company_name]
/- contact_email = CatarseSettings[:email_contact]

/|Olá, <strong>#{contribution.user.decorate.display_name}</strong>!
/br
/br
/| Recebemos a confirmação de cancelamento da contribuição para o projeto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}.
/br
/br
/| Se ficou com alguma dúvida, entre em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to contact_email}
/br
/br
/|Um abraço,
/br
/| #{company_name}
|Email foi enviado... Agora precisamos dos dados
