div class=(policy(project.user).update? ? 'project_land u-marginbottom-40' : 'small_project_land u-marginbottom-40')
  .title
    h4
      = link_to project.name, project_by_slug_path(project.permalink)
  - unless channel && channel.recurring?
    .category style="background-color: #{project.category.color}"
      h5 = project.category.send("name_#{I18n.locale}")
      = image_tag project.category.image.url, class: 'category-image'
  .info
    .cover
      img[src=project.display_image width="218px" height="175px"]
    .project_infos
      p.author== project.user.name
      p.headline= project.headline
      .circle
        - circle_id = (project.id + Time.now.to_f).to_s
        - project_color = project.category.try(:color) || '#CCC'
        .project_progress id="#{circle_id}"
        javascript:
          (function() {
            Circles.create({
              id: "#{circle_id}", radius: 30, value: "#{project.progress}",
              text: "<div class='percent' style='color: #{project_color}'>#{project.progress}%<div><span>da meta</span></div></div>",
              colors: ['#CCC', "#{project_color}"],
              duration: 0,
              width: 5
            });
          })();
      .time-remaining
        = t('projects.project.time_remaining_html', count: project.time_to_go[:time], unit: project.time_to_go[:unit], style: '')
      .collected-money
        = link_to t('projects.project.pledged_html', style: '', value: number_to_currency(project.pledged, precision: 0, unit: '')), project_by_slug_path(project.permalink), title: project.name, class: 'money-raised'
      /ul
        /li
          /- if project.time_to_go[:time] > 0
            /h6= "#{project.time_to_go[:time]} #{project.time_to_go[:unit]}"
            /p= project.remaining_text
          /- else
            /h6= project.display_status.blank? ? nil : I18n.t("projects.project.display_status.#{project.display_status}")
            /p= project.display_expires_at
        /li
          /h6= "#{project.progress} %"
          /p= t('projects.project.contributed')
        /li
          /h6= project.display_pledged
          /p= t('projects.project.reached')
    /.contribution_info style="background-color: #{project.category.color}"
      /- if contribution && policy(parent).update?
        /ul
          /- if contribution.display_value
            /li.value
              /h5= contribution.display_value
              /p Doados
          /li.date
            /h5
              /span.date<
                /|#{contribution.display_confirmed_at || I18n.l(contribution.created_at.to_date)}

    /.tell_about
      /p= t('.tell_about_this_contribution')
      /ul
        /li= link_to(image_tag('catarse/facebook_black_icon.png'), "http://www.facebook.com/sharer.php?s=100&p[url]=#{project_by_slug_url(permalink: project.permalink)}&p[summary]=#{t('share_my_contributions')} #{project.name}", target: '_blank').html_safe
        /li= link_to image_tag('catarse/twitter_black_icon.png'), "http://twitter.com/share?text=#{t('share_my_contributions')}#{project.name}&url=#{project_by_slug_url(permalink: project.permalink)}", target: '_blank'
.clearfix

