.contribution.u-margintop-10
  = link_to user_path(supporter), title: supporter.name do
    .contribution-thumb.u-left[style="background-image: url('#{supporter.decorate.display_image}'); background-size: cover; background-position: center;"]
