- unless contribution.anonymous
  .contribution
    = link_to user_path(contribution.user) do
      .contribution-thumb.u-left[style="background-image: url('#{contribution.user.display_image}'); background-size: contain;"]
